.header{
    .contain{
        img{
            margin-left: 60px;
        }
        height: 100px;
        background-color: aqua;
        background: #fff;
        box-shadow: 0 3px 10px 0 rgb(217 220 234 / 50%);
    }
}

